<!DOCTYPE html>

<html>
<head>
    <% include ../partials/header.ejs %>
    <title>Toolbone Webtor</title>
    <meta charset="UTF-8">

    <style id="compiled-css" type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }

        #player {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        div#progress {
            position: absolute;
            right: 20px;
        }

    </style>
</head>

<body>

<div style="text-align:center; width:100%; position: fixed; top: 0; left: 0; bottom: 0; right: 0; ">
    <video id="player" controls></video>
</div>

<div id="progress">
    <p style="color:white;" id="total"></p>
</div>


</body>

<script type="text/javascript">

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const hash = urlParams.get('hash')
    const magnets = "&tr=udp://explodie.org:6969&tr=udp://tracker.coppersurfer.tk:6969&tr=udp://tracker.empire-js.us:1337&tr=udp://tracker.leechers-paradise.org:6969&tr=udp://tracker.opentrackr.org:1337&tr=wss://tracker.btorrent.xyz&tr=wss://tracker.fastcast.nz&tr=wss://tracker.openwebtorrent.com&ws=https://webtorrent.io/torrents/&xs=https://webtorrent.io/torrents&tr=udp://open.demonii.com:1337/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.coppersurfer.tk:6969&tr=udp://glotorrents.pw:6969/announce&tr=udp://tracker.opentrackr.org:1337/announce&tr=udp://torrent.gresille.org:80/announce&tr=udp://p4p.arenabg.com:1337&tr=udp://tracker.leechers-paradise.org:6969";
    const magnetHeader = "magnet:?xt=urn:btih:";

    let client = new WebTorrent();
    //var torrentId = 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent';
    //var torrentId = 'magnet:?xt=urn:btih:9EFF2A521DD4F44B057A0C0A550C90A8243D3F17&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent';
    //var torrentId = 'magnet:?xt=urn:btih:9EFF2A521DD4F44B057A0C0A550C90A8243D3F17&tr=udp://glotorrents.pw:6969/announce&tr=udp://tracker.opentrackr.org:1337/announce&tr=udp://torrent.gresille.org:80/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.coppersurfer.tk:6969&tr=udp://tracker.leechers-paradise.org:6969&tr=udp://p4p.arenabg.ch:1337&tr=udp://tracker.internetwarriors.net:1337&tr=wss://tracker.openwebtorrent.com&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&tr=wss%3A%2F%2Ftracker.webtorrent.io&ws=https%3A%2F%2Fwebtorrent.io';
    let torrentId = magnetHeader + hash + magnets;

    let playerControls =
        [
            // 'play-large', // The large play button in the center
            'restart', // Restart playback
            // 'rewind', // Rewind by the seek time (default 10 seconds)
            'play', // Play/pause playback
            //  'fast-forward', // Fast forward by the seek time (default 10 seconds)
            'progress', // The progress bar and scrubber for playback and buffering
            //  'current-time', // The current time of playback
            //  'duration', // The full duration of the media
            'mute', // Toggle mute
            //  'volume', // Volume control
            //   'captions', // Toggle captions
            'settings', // Settings menu
            //  'pip', // Picture-in-picture (currently Safari only)
            'airplay'//, // Airplay (currently Safari only)
            // 'download'//, // Show a download button with a link to either the current source or a custom URL you specify in your options
            //'fullscreen' // Toggle fullscreen
        ];



    const player = new Plyr('#player', {
        autoplay: true,
        playsinline: true,
        clickToPlay: false,
        debug: true,
        loop: {active: true},
        controls: playerControls
    });

    client.add(torrentId, function (torrent) {
        let file = torrent.files.find(function (file) {
            return file.name.endsWith('.mp4')
        });
        file.renderTo('video', {
            autoplay: false,
            muted: true
        }, function callback() {
            console.log("ready to play!");
        });
    });

    // var fromJs;

    client.on('download', function (bytes) {
        console.log('just downloaded: ' + bytes)
        console.log('total downloaded: ' + client.downloaded)
        console.log('download speed: ' + client.downloadSpeed)
        console.log('progress: ' + (client.progress * 100))
        console.log('done: ' + (client.done * 100))

        if (!client.done) {
            document.getElementById("total").innerHTML = "Downloaded: " + Math.round(client.progress * 100) + "%";
        } else {
            document.getElementById("total").innerHTML = "Complete";
        }

        //fromJs.postMessage("hellowww");

    });


    //document.getElementById("total").innerHTML = hash;

</script>

</html>
